
.bookingPage h1 {
  text-align: left;
  margin-left: 30px;
  color: #fff;
}

.bookingCard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.bookingCard {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  flex-grow: 1;
  height: 330px;
  overflow: hidden;
  max-width: calc(25% - 20px);
  margin-bottom: 20px;
  background-color: #fff;
}

.bookingCard h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.bookingCard p {
  margin-bottom: 5px;
  font-size: 16px;
  color: #666;
}

.bookingCard img {
  max-width: 250px;
  height: auto;
}

.bookingCard button {
  bottom: -100px;
  overflow: hidden;
  transition: 0.3s ease all;
  padding: 20px;
  position: absolute;
  margin: auto;
  background: #22395c;
  color: #fff;
  border: none;
  text-align: center;
  margin-left: -30px;
  border-radius: 20px;
}

.bookingCard:hover button {
  bottom: 10px;
  cursor: pointer;
}
.bookingCard button:active{
  transform: translateY(10px);
}



/* Modal styles */
.Bookingmodal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.Bookingmodal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #aaa;
}

.close:hover {
  color: #333;
}

.Bookingmodal-content h2 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
}

.Bookingmodal [type="text"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #22395c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1c3255;
}
