.successPage {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2150' height='1200' preserveAspectRatio='none' viewBox='0 0 2150 1200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1024%26quot%3b)' fill='none'%3e%3crect width='2150' height='1200' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)'%3e%3c/rect%3e%3cpath d='M2185.8333333333335 1200L0 1200 L0 613.09Q70.69 576.28%2c 107.5 646.96Q255.93 616.23%2c 286.6666666666667 764.66Q387.07 685.9%2c 465.83333333333337 786.31Q503.29 716.27%2c 573.3333333333334 753.73Q617.33 618.56%2c 752.5 662.56Q879.59 610.48%2c 931.6666666666667 737.57Q998.46 696.87%2c 1039.1666666666667 763.66Q1140.79 686.12%2c 1218.3333333333335 787.74Q1277.14 739.05%2c 1325.8333333333335 797.85Q1328.69 693.2%2c 1433.3333333333335 696.06Q1512.39 595.95%2c 1612.5000000000002 675Q1713.89 668.89%2c 1720.0000000000002 770.28Q1744.34 687.12%2c 1827.5000000000002 711.46Q1861.66 566.45%2c 2006.666666666667 600.61Q2116.85 531.63%2c 2185.8333333333335 641.81z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M2150.0000000000005 1200L0 1200 L0 902.59Q-1.88 793.21%2c 107.5 791.32Q181.33 685.99%2c 286.6666666666667 759.82Q445.95 739.93%2c 465.83333333333337 899.21Q528.5 782.71%2c 645 845.38Q719.72 740.94%2c 824.1666666666667 815.66Q865.47 749.46%2c 931.6666666666667 790.76Q1014.9 694.82%2c 1110.8333333333335 778.05Q1237.45 725.5%2c 1290.0000000000002 852.11Q1300.84 755.45%2c 1397.5000000000002 766.29Q1500.53 690.16%2c 1576.666666666667 793.19Q1674.51 711.86%2c 1755.8333333333337 809.7Q1829.81 704.51%2c 1935.0000000000005 778.49Q2025.89 761.88%2c 2042.5000000000005 852.77Q2052.53 755.3%2c 2150.0000000000005 765.32z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M2150.0000000000005 1200L0 1200 L0 1057.04Q-19.16 930.38%2c 107.5 911.21Q267.58 892.13%2c 286.6666666666667 1052.21Q337.9 924.28%2c 465.83333333333337 975.52Q573.31 903.83%2c 645 1011.3Q711.35 898.48%2c 824.1666666666667 964.83Q853.15 886.31%2c 931.6666666666667 915.29Q1040.68 845.14%2c 1110.8333333333335 954.16Q1156.73 892.56%2c 1218.3333333333335 938.46Q1359.87 900.83%2c 1397.5000000000002 1042.36Q1464.2 929.9%2c 1576.666666666667 996.6Q1655.77 896.53%2c 1755.8333333333337 975.63Q1786.71 899%2c 1863.3333333333337 929.88Q1907.34 866.39%2c 1970.8333333333337 910.4Q2075.79 836.19%2c 2150.0000000000005 941.15z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M2221.666666666667 1200L0 1200 L0 1162.12Q91.18 1145.8%2c 107.5 1236.99Q136.31 1086.64%2c 286.6666666666667 1115.45Q325.86 1047.14%2c 394.1666666666667 1086.33Q438.14 1022.8%2c 501.6666666666667 1066.78Q582.53 1040.14%2c 609.1666666666667 1121Q681.58 1014.25%2c 788.3333333333335 1086.66Q877.08 1067.91%2c 895.8333333333335 1156.66Q922.08 1075.41%2c 1003.3333333333335 1101.66Q1102.37 1021.53%2c 1182.5000000000002 1120.56Q1243.08 1073.63%2c 1290.0000000000002 1134.21Q1303.31 1040.01%2c 1397.5000000000002 1053.32Q1504.66 981.32%2c 1576.666666666667 1088.48Q1700.78 1033.43%2c 1755.8333333333337 1157.54Q1824.38 1118.59%2c 1863.3333333333337 1187.13Q1927.53 1072.16%2c 2042.5000000000005 1136.35Q2151.85 1066.53%2c 2221.666666666667 1175.88z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1024'%3e%3crect width='2150' height='1200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='11.05%25' y1='-19.79%25' x2='88.95%25' y2='119.79%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1025'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  height: 100vh;
}

.successPage h1 {
  color: #000;
}

.successPage .navbar h1 {
  display: flex;
  letter-spacing: 10px;
  color: #fff;
  font-size: 54px;
  margin-left: 30px;
  align-items: center;
  justify-content: center;
}

.successPage .backbtn {
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-left: 20px;
  background: #b6afaf;
}

.thanks-svg{
  display: flex;
  margin: auto;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.successPage .invc-btn {
  padding: 20px;
  border: none;
  font-size: 18px;
  background: #dfc8ea;
  transition: 0.3s ease all;
  border-radius: 10px;
}

.successPage button:hover{
  background: #22395c;
  cursor: pointer;
  color: #dfc8ea;
}

.successPage button:active{
  transform: translateY(10px);
}

.thanks {
  width: 60%;
  height: 400px;
  display: flex;
  margin: 40px auto;
  border-radius: 10px;
}


.successPage .desc h1{
  color: #fff;
  margin-top: -50px;
}

.successPage .desc2 {
  width: 400px;
  margin: auto;
  color: #fff;
  text-wrap: balance;
}